{% extends "basePage.html" %}
{% block css %}
    <link href="/static/css/about.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
  <div class="row" style="text-align: center">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Very Such Much LLP</h3>
        </div>
        <div class="panel-body">
          Very Such Much aims to quickly and easily get you your Doge so that you can 
          get to the moon! 
          <br><br>
          Everybody wants in on the new up and coming currency, so why is it so hard to buy? 
          If you buy your doge from some of the larger currency traders, it will often take 4-5 
          days for the Doge to be deposited in your account, but ain't nobody got time for that! 
          If you want your Doge in a timely fashion, you have to find a specific person in places
          like reddit's Doge Market but even then manual transactions between parties are time 
          consuming, and susceptible to scams.
          <br><br>
          I previously sold Doge on reddit's Doge Market until I realize there had to be a better 
          way. You can check out my verification thread <a href="http://www.reddit.com/r/dogemarket/comments/1w0l41/official_verification_thread_vi/cf7emtc">here</a> and 
          read many satisfied buyers comments.
          <br><br>
          The time consuming cumbersome nature of previous methods is why we created Very Such Much LLP.
          The new place to buy Very Doge, Such easy, Much speed.
          At Very Such Much, you simply enter the amount you want to buy and your Doge wallet address, 
          checkout with the security of Google Wallet, and receive your Doge moments later.
          <br><br>
          Still skeptical? We encourage you to try out a small transaction (minimum 5 Doge) just to see 
          how easy it is!
        </div>
      </div>    
    </div>
  </div>
</div>
{% endblock %}
{% block javascript %}{% endblock %}
