{% extends "basePage.html" %}
{% block css %}
    <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
      <h1 class="center">Welcome!</h1>
      <h3>Very Coin, Such Easy, Much Satisfy</h3>
      <p>It's pretty simple, because that's how DogeCoin should be! Enter your desired amount, Pay through Google Wallet, Get your Doge!</p>
      <img src="/static/images/Dogecoin_logo.png"></img>
    </legend>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label for="dogeAmount">Doge</label>
        <input type="text" class="form-control" id="dogeAmount" placeholder="Doge to Buy">
      </div>
      <div class="form-group">
        <label for="dollarAmount">Price in Dollars</label>
        <input type="text" class="form-control" id="dollarAmount" placeholder="Price">
      </div>
      <div class="block">
        <label for="dogeWallet">Doge Wallet Address</label>
        <input type="text" class="form-control" id="dogeWallet" placeholder="Doge Wallet">
      </div>
      <div class="block center">
        <button id="purchaseButton" class="btn btn-default">Buy</button>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="alert alert-danger" style="display: none;" id="errorMessage"></div>
  </div>
</div>

<div class="modal create-order">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">Place an Order</h2>
      </div>
      <div id="createOrderBody" class="modal-body">
        <h4>New Payment System with Direct Payments through Google Wallet!</h4>
        <p>Due to Google Merchant Fees, our checkout process has changed to direct Google Wallet payments</p>
        <p>Once you click "Submit Order," an order will be placed with your email and Doge wallet. You must then send the payment for your order through Google Wallet to verysuchmuch@gmail.com within 30min of placing your order. Please leave the optional message blank or your payment may not be processed correctly. Once your payment is sent, the Doge will be sent to your account within a few minutes. Please confirm your order below and enter the Google Wallet gmail from which you will be sending your payment.</p>
        <br>
        <p>You are buying <span id="modalDogeAmount"></span> Doge to Wallet Address <span id="modalDogeAddress"></span> for <span id="modalDollarAmount"></span> dollars.</p>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="email">Google Wallet Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email Address">
          </div>
        </form>
        <button id="createOrderButton" class="btn btn-default">Submit Order</button>
        <div class="alert alert-danger" style="display: none;" id="modalErrorMessage">test</div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade sold-out">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h2 class="modal-title">We're out!</h2>
      </div>
      <div class="modal-body">
        <h4>The Demand for Doge at a reasonable price is too damn high!</h4>
        <p>Feel free to peruse the site and its features, but the buy button is disabled.</p>
        <p>Follow us on twitter to be filled in on when we restock!</p>
        <a href="https://twitter.com/verysuchmuch" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @verysuchmuch</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block javascript %}
    <script src="https://wallet.google.com/inapp/lib/buy.js"></script>
    <!--<script src="https://sandbox.google.com/checkout/inapp/lib/buy.js"></script>
-->
    <script src="/static/js/home.js"></script>
{% endblock %}
