{% extends "basePage.html" %}
{% block css %}
    <link href="/static/css/home.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
      <h1 class="center">Thanks!</h1>
      <p>Thank you for purchasing through our site! We hope you come back soon!</p>
      <button class="btn btn-success" onclick='window.location="/"'>Return to site</button>
  </div>
</div>
<div class="row" style="margin-top: 20px">
    <div class="col-md-4 col-md-offset-4">
      <p>Follow us for notifications when we update</p>
      <a href="https://twitter.com/verysuchmuch" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @verysuchmuch</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
</div>
<div class="row">
</div>
{% endblock %}
{% block javascript %}
    <script src="/static/js/thankyou.js"></script>
{% endblock %}
